<!-- <h1>my display{{message}}</h1> -->
{% extends 'base.html'%} {% block content %}
<div class="main">
    <div class="container">
        <div class="row">

            <div class="col-3">
                <div class="card-column">
                    <div class="card-header">
                        <h4>Browse News Sources</h4>
                    </div>
                    <div class="list-group list-group-flush scrolly">
                        <ul>
                            {% for source in sources %}
                            <a class=" btn btn-outline-primary " href="/article/{{source.id}}">
                                <p class="text-capitalize text-muted">{{source.id}}</p>
                            </a>

                            <hr> {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>



        </div>
    </div>
</div>



{% endblock %}